h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Press Start';
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
p{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'DePixel Klein';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
@font-face{
    font-family: 'Press Start';
    src: url(fonts/PressStart2P-Regular.ttf);
}
@font-face{
    font-family: 'DePixel Klein';
    src: url(fonts/DePixelKlein.ttf);
}
@font-face{
    font-family: 'DePixel Schmal';
    src: url(fonts/DePixelSchmal.ttf);
}
html, body{
    background-color: black;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
*{
    box-sizing: border-box;
}
section{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100vh;
    width: 100%;
    height: 100vh;
}

.field{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
}
@media (max-width: 1380px){
    .field{
        width: 380px;
        height: 380px;
    }
}
@media (max-width: 900px){
    .field{
        width: 280px;
        height: 280px;
    }
}
.pixel{
    background-color: white;
}
.main-container{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.field-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pixel:hover{
    background-color: black;
}
.tape{
    display: block;
    width: 100%;
    padding-left: 40px;
    padding-right: 10px;
}
.tape2{
    padding-right: 40px;
    padding-left: 10px;

}
.img-wrap{
    display: block;
    animation: tape 15s linear infinite;
}
.img-wrap2{
    display: block;
    animation: tape2 16s linear infinite;
}
.tape img {
    width: 100%;
    margin-bottom: 20px;
}

@keyframes tape{
    to{
        transform: translateY(0);
    }
    from{
        transform: translateY(-100%);
    }
}
@keyframes tape2{
    to{
        transform: translateY(-100%);
    }
    from{
        transform: translateY(0);
    }
}

.controls, .info{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.info{
    justify-content: space-between;
}
.controls{
    justify-content: space-between;
}
article{
    
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6%;
}
.name p{
    max-width: 20%;
    width: 100%;
}
.p-right{
    text-align: right;
}
.year{
    text-align: center;
}
.ranger{
    display: flex;
    justify-content: space-between;
    height: 20%;
    margin-top: 6%;
}
input{
    width: 100%;
    -webkit-appearance: none;
    height: auto;
    margin: 0;
    position: relative;
    height: 1.5px;
    z-index: 1;
}
.range-wrap {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px 0 5px;
  }
  
  .range {
    width: 100%;
    cursor: pointer;
    color: red;
    height: 100%;
    opacity: 0;
    position:absolute;
  }
  
  .setting {
    background: black;
    position: absolute;
    width: 100px;
    height: 102%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    color: white;
    display: grid;
    place-items: center; 
    user-select: none; 
    color: #FFF;
    font-family: 'DePixel Schmal';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -1.7px;
  }
  
  hr {
      border: none;
      height: 2px !important;
      background-color: #fff; 
      width:100%;
      margin: 0;
    }
.ranger img{
    /* width: 100%; */
    height: 100%;
}
button{
    background: transparent;
    border: none;
    color: white;
    font-family: "DePixel Klein";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button:hover{
    text-decoration: underline;
}